
<div class="container" xmlns:th="http://www.thymeleaf.org">
    <form class="form-signin mt-xl-5" method="post" action="/login">

        <h2 class="form-signin-heading stay-tuned">Останете во тек!</h2>
        <div class="form-group row">

            <div class="col-sm-10">
                <input type="text" class="form-control round" id="username"
                       name="username" placeholder="Корисничко име" required="">
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="password" class="form-control round" id="password"
                       name="password" placeholder="Лозинка" required="">

            </div>
        </div>

       <a href="/login" style="text-align: center; color: #201261">Ја заборавивте лозинката?</a>

        <div style="width: 318px">
            <div style="width: 318px" >
                <button type="submit" class="btn login-submit">Најави се</button>
            </div>
        </div>
        <br/>
        <hr style="background: #201261"/>

        <p>Нови сте на <b>ArtWays</b>?
            <a href="/register" style="color: #201261">Регистрирај се тука!</a>
        </p>

    </form>

</div>
