<div class="container" style="height: 400px;" xmlns:th="http://www.thymeleaf.org">

    <div class="row" >
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <p>Доколку имате некоја поплака, пофалба или сакате да ја внесеме Вашата нова галерија во нашиот систем,</p>
                <p>Контактирајте не на нашиот e-mail: artways@gmail.com</p>
            </div><!-- / project-info-box -->
            <!-- / project-info-box -->

        </div><!-- / column -->

        <div class="col-md-6">
            <div id="contact-img">

            </div>

        </div><!-- / column -->


    </div>


</div>