<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container" style="height: 400px;" xmlns:th="http://www.thymeleaf.org">

    <div class="row" >
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h4 th:text="${gallery.getName()}" th:style="'font-weight:bold; color: #201261;'"></h4>
                <p class="mb-0"></p>
            </div>
            <br/>
            <div class="project-info-box">
                <p th:text="${gallery.getAddress()} + ', ' + ${gallery.getCity()}" th:style="'margin: 0;'"><b>Address</b></p>
                <p th:text=" (${gallery.getWorking_hours()} == 'нема' ? 'Работно време: нема' : ${gallery.getWorking_hours()})"></p>

            </div><!-- / project-info-box -->
            <!-- / project-info-box -->

        </div><!-- / column -->

        <div class="col-md-7">
            <div id="details-picture">

            </div>

        </div><!-- / column -->


    </div>


</div>
<div>
    <div class="row" >
        <div class="col-sm"></div>
        <div class="col-sm" id="details-comment">
            <div style="width: inherit; height: 58px; " >
                <textarea placeholder="Додај коментар..." id="details-text"></textarea>

            </div>
            <div style="width: inherit; display: flex;">
                <button type="button" class="btn login-submit">Внеси коментар</button>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
</div>