
<style>
  .title-main-page
  {
    font-style: italic;
    color: #201261;
    padding-left: 15%;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .button-pink
  {
      color: white;
      margin-left: 5px;
      background-color: #915fc6;
  }
  .button-pink:hover{
      background-color: #c4a9e0
  }
</style>
<div xmlns:th="http://www.thymeleaf.org">
  <div class="title-main-page">
<h2 >Истражи ги галериите по град:</h2>

  <form class="form-inline" th:method="POST" th:action="@{/map}">
    <div class="form-group mb-2">
      <input type="text" class="form-control" id="searchText" name="searchText" >
    </div>
    <button type="submit" class="btn button-pink mb-2">ПРЕБАРАЈ</button>
  </form>
 </div>

  <div class="container">
  <div id="osm-map" style="min-height: 450px;height: 450px; width: 1100px;"></div>
</div>
</div>
<script th:inline="javascript">
  var list = [[${galleries}]];
  console.log(list);
  // open streetmap integration with leaflet
  $(function(){
    "use strict";
// osm-map the id of div area where map should be shown
    var element = document.getElementById('osm-map');

// lat & long of center of map and marker
    var lat = '41.9945';
    var long =  '21.4319';



// Create Leaflet map on map element.
    var map = L.map(element, {scrollWheelZoom: false });

// Add Openstreetmap tile layer with attribution to the Leaflet map.
// this is important and worth to honor openstreetmap contributors
    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

// Your target's GPS coordinates.
    var target = L.latLng( lat , long );

// Set map's center to target with zoom 15.
    map.setView(target, 15);

// Place a marker on the same location.
    for(let i = 0; i < list.length; i++) {
      var marker = L.marker([list[i]['lon'], list[i]['lat']]).addTo(map);

      marker.onclick = "location.href='.html"

      marker.bindPopup(`
                    <div onclick="window.location='/details/' + ${list[i]['id']}">
                    <b>Галерија: ${list[i]['name']}</b>
                    <br>
                    <b>${list[i]['address']}</b>
                    <br>
                     ${(list[i]['working_hours'])}
                    <br>
                    </div>
                    `)
              .openPopup();

    }

// Optional, but useful: change behaviour of autoscrollwheel
// only zoom after click, no autozoom on focus
    map.scrollWheelZoom.disable();
    map.on('click', () => { map.scrollWheelZoom.enable();});
    map.on('mouseout', () => { map.scrollWheelZoom.disable();});
  });
</script>