<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h1 style="font-weight: bolder; font-size: 60px; height: 80px; display: grid;">Посетени галерии</h1>
    </div>
    <div class="w-100"></div>
    <div class="col-md-8">

    </div>

  </div>

  <div class="card-group">
    <div class="card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/17/ee/36/c9/arte-galerija.jpg?w=1200&h=-1&s=1" class="card-img-top" alt="..." style="width: 100%; height: 50%">
      <div class="card-body">
        <h5 class="card-title">Арте галерија</h5>
        <span class="card-text">Адреса: Адреса: М.Т.Гологанов (Иво Лола Рибар) 49 - Скопје</span>
        <br>
        <span class="card-text">Работно време: Пон - Пет од 10:00 до 20:00</span>
        <p class="card-text"><small class="text-muted">Last updated 1 minute ago</small></p>
      </div>
    </div>

    <div class="card">
      <img src="https://scontent.fskp4-2.fna.fbcdn.net/v/t39.30808-6/292646037_383510527103179_6969171916533244973_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=t2kAAD3U4t0AX9uJhGc&_nc_ht=scontent.fskp4-2.fna&oh=00_AfB-E4hlFT3KVhGbcdWUwd50u1nVwnhJaC4CwuDWHge0Eg&oe=6589437B" class="card-img-top" alt="..." style="width: 100%; height: 50%">
      <div class="card-body">
        <h5 class="card-title">Арт Студио Реализам</h5>
        <span class="card-text">Адреса: бул.Јане Сандански 82</span>
        <br>
        <span class="card-text">Работно време: нема</span>
        <p class="card-text"><small class="text-muted">Last updated 40 seconds ago</small></p>
      </div>
    </div>

    <div class="card">
      <img src="https://lh3.googleusercontent.com/p/AF1QipNbMv94RK2mcoZ4SrpHzh6N2uKX59YzWQF0qv8W=s1360-w1360-h1020" class="card-img-top" alt="..." style="width: 100%; height: 50%">
      <div class="card-body">
        <h5 class="card-title">Културно Информативен Центар (КИЦ)</h5>
        <span class="card-text">Адреса: 8-ма Ударна Бригада 2, Скопје</span>
        <br>
        <span class="card-text">Работно време: Пон - Пет од 09:00 до 17:00</span>
        <p class="card-text"><small class="text-muted">Last updated 1 minute ago</small></p>
      </div>
    </div>
  </div>

</div>

