<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ArtWays</title>
  <link rel="shortcut icon" href="../static/images/favicon.ico">
  <link rel="icon" type="image/png" href="../static/images/favicon-16x16.png" sizes="16x16" />


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- jQuery library -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css ">
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">


  <link rel="stylesheet" th:href="@{/loginStyle.css}" type="text/css"/>
  <link rel="stylesheet" th:href="@{/headerStyle.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/starRatingStyle.css}" type="text/css" />

  <style>
    body {
      background: linear-gradient(to bottom, #d9d5f4, #ffe5e7);
      margin: 0;
      height: 100vh;
      font-family: 'Livvic', sans-serif;
      color: #381c6b;
    }

  </style>

</head>

<header th:replace="~{fragments/header}">
</header>
<body>


<section th:insert="${bodyContent}" style="padding-top: 10px;">

</section>


</body>
</html>

<script>
  function closeNav(){
    document.getElementById("mySidepanel").style.width = "0";}

  function openNav(){
    document.getElementById('mySidepanel').style.width = '250px';

  }
</script>