<div class="background-image"></div>
<style>
    .logo
    {
        background-image: ;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/art-galleries">LOGO IDNO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="nav-item nav-link" href="/login" id="log">Log In</a>
            <a class="nav-item nav-link" href="/register">Register Here</a>
            <a class="nav-item nav-link" href="#" id="about">About</a>
        </form>
    </div>
</nav>