
<nav class="navbar navbar-expand-lg " xmlns:sec="http://www.w3.org/1999/xhtml">

    <div id="mySidepanel" class="sidepanel" style="margin: 0;text-align: center; height: 800px" sec:authorize="isAuthenticated()">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="/images/avatar.png" style="height: 150px; width: 150px" alt="">
        <p></p>
        <a href="/profile">Профил</a>
        <a href="/login">Најави се</a>
        <a href="/logout">Одјави се</a>
    </div>

    <a class="navbar-brand openbtn" onclick="openNav()"></a>


        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li id="search" >
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </li>
                <li class="nav-item active" >
                    <a class="nav-link" href="/art-galleries">ДОМА<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" >
                    <a class="nav-link" href="/map">МАПА<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">КОНТАКТ<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="nav-item nav-link"   href="/login" id="log" sec:authorize="isAnonymous()">Најави се</a>
                <a class="nav-item nav-link"   href="/register" sec:authorize="isAnonymous()">Регистрирај се</a>
                <img src="/images/avatar.png" style="height: 60px; width:60px" alt="" sec:authorize="isAuthenticated()">
                <a class="nav-item nav-link"   href="/profile"  id="user-profile" sec:authorize="isAuthenticated()" ></a>

<!--                <p sec:authorize="isAuthenticated()"  th:text="#strings.isNumeric(#authentication.name) ? ${#authentication.getPrincipal().getEmail()} : ${#authentication.getName()}" ></p>-->
                <a class="nav-item nav-link"   href="/profile" sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></a>
                <a class="nav-item nav-link"   href="/logout" sec:authorize="isAuthenticated()">Одјави се</a>
                <a class="nav-item nav-link"   href="#">MK | EN</a>
            </form>
        </div>
</nav>

<script>
    function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
    }
</script>